* {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fafafa;
}
.logo{
    margin-top: -4%;
    margin-left: 3%;
}
.menubar{
    background-color: #00000057;
    margin: -33px;
    padding: 21px 37%;
    position: fixed;
    width: 36%;
    margin-top: -9%;
}
.menubar a{
    color: rgb(255, 255, 255);
    padding: 10px 30px;
}
.barslide{
    margin: 7.5%;
    padding-left: 0%;
    font-size: x-large;
}
.bs {
    font-size: 18px;
    margin-top: -22px;
    padding-left: 89%;
    font-weight: 213%;
}
.by{
    padding-left: 65%;
    margin-top: -29%;
    font-size: 15px;
    line-height: 35px;
    
}
.lights{
    width: 91%;
    margin-left: 5%;
    margin-top: 9%;
    border: solid 1px rgba(0, 0, 0, 0.228);
}
button{
    color: white;
    width: 15%;
    padding: 15px;
    cursor: pointer;
    font-size: 95%;
    background-color: black;
    border: solid 1px black;
    margin-left: 65%;
    margin-top: 10%;
    margin-bottom: 8%;
}
.by2{
    padding-left: 3%;
    margin-top: 9%;
    font-size: 28px;
    line-height: 35px;
}
.more{
    padding-left: 8%;
    padding-top: 6%;
    width: 92%;
}
.more img{
    border: solid 1px black;
}
.moreproducts{
    position: fixed;
    left: 72%;
    top: 45%;
    font-size: 81px;
}